# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Boot
spring-boot-devtools/

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Compiled class files
*.class

# Log files
*.log

# Application specific files
*.jar
*.war
*.ear

# OS specific files
.DS_Store
Thumbs.db

# Local configuration files
*.properties
*.yml
*.json

# User-specific configuration files
*.swp

# STS (Spring Tool Suite)
.apt_generated
.factorypath
.springBeans
.sts4-cache
